@model StoreItemViewModel
@{
	SelectList Store = new SelectList(Model.Stores, "Id", "Store_Name");
	SelectList Item = new SelectList(Model.Items, "Id", "Item_Name");
}




 <form method="post">
	 <label class="fw-bold"> Store </label>
	<select asp-for="Store_Id" asp-items="Store" class="form-control">
		<option>-Select Store-</option>
	</select>
	<label class="fw-bold"> Item </label>
	<select asp-for="Item_Id" asp-items="Item" class="form-control">
		<option>-Select Item-</option>
	</select>
	<div id="Total_Quantity">
	


	</div>
	@if(Model.Quantity != 0)
	{
		<div>Quantity Added Is = @Model.Quantity</div>
	}
	<input type="text" name="Quantity" class="text-secondary"/>
	<input type="submit" value="Add Quantity" class="btn btn-primary"/>
</form>
@section Scripts{
	<script>
		$(document).ready(
			function () {
				$('#Store_Id, #Item_Id').on('change', function () {
					var store_id = $('#Store_Id').val();
					var item_id = $('#Item_Id').val();
					
					if(store_id != '' && item_id != '')
					{
						$.ajax({
							url: '/StoreItemViewModel/GetTotalQuantity?StoreId=' + store_id + '&ItemId=' + item_id,
							method:'GET',
							success: function (result) {
								$('#Total_Quantity').text('Total Quantity is :  ' + result);
								console.log(result);
							}
						})
					}
				});
			});
	</script>
}



