@model Item

    <form action="/Item/create" method="post">

        <label asp-for="Item_Name">Item Name</label> <input asp-for="Item_Name" />
        <input type="submit" value="Add Item" />
    </form>

