@model Store

    <form method="post">

        @* <label asp-for="Id"></label> *@<input type="hidden" asp-for="Id" /> <br />
        <label asp-for="Store_Name">Store Name</label><input asp-for="Store_Name"/>
        <input type="submit" value="Update"/>
    </form>

